.side-bar {
  background-color: rgb(44, 54, 50);
  height: 100vh;
  width: 300px;
  flex: 0.25 100%;
  min-width: 300px;
  max-width: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  position: sticky;
  top: 0;

  hr {
    width: 90%;
    height: 0.5px;
    margin: 0;
  }
}
