$phone: 480px;
$tablet: 768px;

.search {
  position: relative;

  .search-box {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border: none;
    padding: 2px 44px;
    font-size: 20px;

    &:focus-visible {
      outline: none !important;
    }
  }
  .bi.bi-search {
    color: black;
    position: absolute;
    top: 4px;
    left: 8px;
    font-size: 24px;
  }

  @media screen and (max-width: $tablet) {
    width: 30vw;

    .search-box{
      width: 25vw;
    }
  }

  @media screen and (max-width: 600px) {
    width: 60vw;
    top: 60px;

    .search-box{
      width: 40vw;
    }
  }

  @media screen and (max-width: $phone) {
    width: 60vw;
    top: 0px;

    .search-box{
      font-size: 18px;
    }
  }
}
