.group {
  margin: 30px 0 20px 0;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 1890px;

  .group-heading {
    font-size: 40px;
  }

  .cards-container {
    display: grid;
    overflow: hidden;
    // flex-wrap: wrap;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // justify-content: space-between;
    max-height: 400px;

    .card-item{
      text-decoration: none;
      color: white;

      :hover{
        background-color: #5e736b;
      }
    }
  }
}
