.track {
  display: flex;
  margin: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  min-height: 64px;

  &:hover {
    background-color: #2c3632;
  }
  
  .artists,
  .name,
  .album {
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .added {
    flex: 0.4;
  }
  .duration {
    flex: 0.2;
  }
  .cols {
    padding: 0 10px;
  }
  .name {
    span {
      padding: 0 10px;
    }
  }
  .album {
    z-index: 5;
    :hover {
      text-decoration: underline;
    }
  }
  span.cols {
    display: flex;
    align-items: center;
  }
}
