$phone: 480px;
$tablet: 768px;

.list{
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  padding-left: 50px;
  box-sizing: border-box;
  cursor: pointer;

  a{
    text-decoration: none;
  }

  h3{
    font-size: 14px;
    margin: 20px 0;
    color: rgb(207, 190, 190);

    &:hover{
      color: white;
    }
  }
}

@media screen and (max-width: $tablet) {
  .list {
    display: none;
  }
}