$phone: 480px;
$tablet: 768px;

$badge-height: 90px;
$primary-color: rgb(44, 54, 50);
$primary-text-color: white;

@mixin showButton {
  opacity: 100;
}

.recents-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  height: $badge-height;
  min-width: 350px;
  flex: 1;
  padding-right: 20px;
  cursor: pointer;
  border-radius: 20px;

  &:hover .play-button {
    @include showButton();
  }

  .badge {
    height: $badge-height;
    width: $badge-height;
    border-radius: 20px 0 0 20px;
  }

  .track-name {
    justify-self: flex-start;
    flex: auto;
    margin: 0 10px;
    color: $primary-text-color;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone) {
    height: 60px;
    width: 300px;
    min-width: 300px;
    flex-grow: 0;
    padding-right: 0;

    .badge {
      height: 60px;
      width: 60px;
    }

    .track-name {
      font-size: 12px;
    }

    .play-container {
      margin-right: 10px;
    }
  }

  @media screen and (max-width: $phone) {
    height: 60px;
    min-width: 250px;
    flex-grow: 1;
    padding-right: 0;

    .badge {
      height: 60px;
      width: 60px;
    }

    .track-name {
      font-size: 12px;
    }

    .play-container {
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 400px) {
    max-width: 80vw;
  }
}
