$phone: 480px;
$tablet: 768px;
$large-screen: 1920px;

.recents-collection {
  display: flex;
  flex-wrap: wrap;
  height: 210px;
  overflow: hidden;
  gap: 30px;

  @media screen and(min-width:$large-screen) {
    max-width: 1890px;
  }

  @media screen and (max-width: $tablet) and (min-width: $phone) {
    gap: 20px;
    height: 220px;
  }

  @media screen and (max-width: $phone){
    gap: 15px;
    height: 220px;
    height: 210px;
    margin-right: 20px;
  }
}
