$large-screen: 1920px;

.recents-collection {
  display: flex;
  flex-wrap: wrap;
  height: 210px;
  overflow: hidden;
  gap: 30px;

  @media screen and(min-width:$large-screen) {
    max-width: 1890px;
  }
}
