.nav-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(207, 190, 190);

  &:hover {
    color: white;
  }

  i {
    font-size: 1.5em;
    margin-right: 25px;
  }

  h3 {
    margin: 0;
    font-size: 14px;
  }
}
