$phone: 480px;
$tablet: 768px;

.nav-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
  text-decoration: none;
  color: rgb(207, 190, 190);

  &:hover {
    color: white;
  }

  i {
    font-size: 1.5em;
    margin-right: 25px;
  }

  h3 {
    margin: 0;
    font-size: 14px;
  }

  @media screen and (max-width: $tablet) {
    
    justify-content: center;
    margin: 20px 0;

    h3 {
      display: none;
    }
    
    i{
      margin-right: 0px;
    }
  }
}
