$phone: 480px;
$tablet: 768px;

.side-bar-nav{
  padding: 30px 10px 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;

  @media screen and (max-width: $tablet) {
    padding: 0;
  }
}