$phone: 480px;
$tablet: 768px;

.liked-songs-card {
  grid-column: span 2 / auto;
  background-color: blue;
  flex: 1 1 auto;
  padding: 20px 20px;
  height: 360px;
  border-radius: 10px;
  background: rgb(63, 94, 251);
  background: linear-gradient(43deg, rgba(63, 94, 251, 1) 48%, rgba(70, 242, 252, 1) 69%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;

  p {
    width: 50%;
    font-size: 18px;
    margin: 0;
  }

  h4 {
    font-size: 32px;
    margin: 50px 0 10px 0;
  }

  .button-container {
    position: absolute;
    top: calc(400px - 50px);
    right: 30px;
  }

  &:hover .play-button {
    opacity: 100;
  }

  @media screen and (max-width: 600px) {
    p {
      font-size: 14px;
    }
  }

  @media screen and (max-width: $phone) {
    h4 {
      margin-top: 30px;
    }
  }

  @media (hover: none) {
    .play-button {
      opacity: 100;
    }
  }
}
